docs/src/content/docs/en/*
!docs/src/content/docs/en/.gitkeep
docs/src/content/docs/es/*
!docs/src/content/docs/es/.gitkeep
.direnv
*.qcow2
result
logs/*
!logs/.gitkeep
node_modules/
docs/node_modules/
docs/dist/
.astro/
.agent
.cursor
.gemini
.opencode
.out_*.txt
